absl-py==2.1.0
accelerate==1.0.1
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
anytree==2.12.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==24.3.0
beautifulsoup4==4.12.3
bert-score==0.3.13
bioc==2.1
boto3==1.35.92
botocore==1.35.92
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.0.4
conllu==4.5.3
contourpy==1.1.1
cycler==0.12.1
datasets==2.14.6
Deprecated==1.2.15
dill==0.3.7
docopt==0.6.2
editdistance==0.8.1
filelock==3.16.1
flair==0.14.0
flatbuffers==1.12
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2023.10.0
ftfy==6.2.0
gast==0.4.0
gdown==5.2.0
google-auth==2.37.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.69.0
h5py==3.11.0
huggingface-hub==0.27.1
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
intervaltree==3.1.0
jieba==0.42.1
Jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
jsonlines==4.0.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
langdetect==1.0.9
language_tool_python==2.8.1
lemminflect==0.2.3
libclang==18.1.1
lru-dict==1.3.0
lxml==5.3.0
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
more-itertools==10.5.0
mpld3==0.5.10
multidict==6.1.0
multiprocess==0.70.15
nltk==3.9.1
num2words==0.5.14
numpy==1.24.4
oauthlib==3.2.2
OpenHowNet==2.0
opt_einsum==3.4.0
packaging==24.2
pandas==2.0.3
pillow==10.4.0
pinyin==0.4.0
pptree==3.1
propcache==0.2.0
protobuf==3.19.6
psutil==6.1.1
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycld2==0.41
pyparsing==3.1.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytorch_revgrad==0.2.0
pytz==2024.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
s3transfer==0.10.4
safetensors==0.5.0
scikit-learn==1.3.2
scipy==1.10.1
segtok==1.5.11
semver==3.0.2
sentencepiece==0.2.0
six==1.17.0
sortedcontainers==2.4.0
soupsieve==2.6
sqlitedict==2.1.0
tabulate==0.9.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-hub==0.15.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.4.0
terminaltables==3.1.10
textattack==0.3.9
threadpoolctl==3.5.0
tokenizers==0.13.3
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm==4.67.1
transformer-smaller-training-vocab==0.4.0
transformers==4.30.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
wcwidth==0.2.13
Werkzeug==3.0.6
Wikipedia-API==0.7.3
word2number==1.1
wrapt==1.17.0
xxhash==3.5.0
yarl==1.15.2
zipp==3.20.2
